{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1 class="title">Welcome, {{ name }}!</h1>

  <!-- Display uploaded files with download links -->
  <h2>Uploaded Files</h2>
  <ul>
    {% for file in uploaded_files %}
      <li>
        <a href="{{ url_for('download', filename=file.filename) }}">{{ file.filename }}</a>
        <!-- Add a delete button if you want to allow users to delete files -->
        <form action="{{ url_for('delete_file', file_id=file.id) }}" method="post">
          <button type="submit">Delete</button>
        </form>
      </li>
    {% endfor %}
  </ul>

  <!-- File Upload Form -->
  <form action="{{ url_for('upload_files') }}" method="post" enctype="multipart/form-data">
    <h2>Upload Files</h2>
    <input type="file" name="file[]" multiple accept=".txt, .pdf, .png, .jpg, .jpeg, .gif" required>
    <button type="submit">Upload</button>
  </form>

  <form action="{{ url_for('change_password') }}" method="get">
    <button type="submit">Change Password</button>
  </form>

  <form action="{{ url_for('delete_account') }}" method="get">
    <button type="submit">Delete Account</button>
  </form>
  <ul>
    {% for file in uploaded_files %}
    <li>
      <a href="{{ url_for('download', filename=file.filename) }}">{{ file.filename }}</a>
      <a href="{{ url_for('hash_and_download', file_id=file.id) }}">Hash with SHA-256</a>
<a href="{{ url_for('hash_and_download_md5', file_id=file.id) }}">Hash and Download MD5</a>

    </li>
    {% endfor %}
  </ul>
  

  <!-- Display Flash Messages -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</div>
{% endblock %}
